/* HEADER */

h1
{
  font-family: 'Oswald', sans-serif;
  font-size:  75px;
  margin:  0;
}

h2
{
  font-family: 'Oswald', sans-serif;
  margin:  0;
}

h6
{
  font-family: 'Oswald', sans-serif;
}

p, label
{
  font-family: 'Oswald', sans-serif;
  font-size:  30px;
}

/* NAVIGATION BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/* DROPDOWN */

.dropbtn
{
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown
{
  position: relative;
  display: inline-block;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover
{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content
{
  display: block;
}

.dropdown:hover .dropbtn
{
  background-color: #3e8e41;
}

.hwrap {
  overflow: hidden;
  background: #eee;
}
 
.hmove { display: flex; }

.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
 
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-400%, 0, 0); }
}
.hmove { animation: tickerh linear 20s infinite; }
.hmove:hover { animation-play-state: paused; }