<html>
<head>
	<title>PRIM</title>
	<link rel="stylesheet" href="../static/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	 <link rel="icon" href="../icon.png">
</head>

<script type="text/javascript" src="../static/index.js"></script>

<body>
	<div class="container">
	<!-- HEADER OF WEBSITE -->
	<center><h1 style="font-size:70px">PRIM</h1></center>
	<center><h2>Predictive Return on Investment Model</h2></center>
	<center><h6>Created by Pierce Lane, Owen Krussow, Sam Aldeguer, Chase Horner</h6></center>
	<!-- END -->

	<!-- CODE FOR "What is PRIM?" BUTTON AND MODAL -->
	<center><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-weight: 500; margin-top:10px; margin-bottom:10px;">What is PRIM?</button></center>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">PRIM</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
						PRIM (Predictive Return on Investment Model) is a service that utilizes a Long Short-Term Memory Neural Network to predict a stock’s price in the future. The user has the option 
to view the most promising stock, to predict a stock’s price in an inputted amount of days, or to train and predict their own stock’s price data.
				</div>
				<div class="modal-footer">
					<button type="button" class="shine btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	</br>
	<!-- END -->

	<div style="width:1670px;height:50px; background-color:  #208454; position: relative; right: 300px"></div><br>

	<!-- CODE FOR FIRST OPTION -->
	<center>
		<div id="optionOne">
			<label for="begin"  id="begin" style="display:inline-block; position: relative; top: 5px;">I want to </label>
			<div class="dropdown" id="dropdown">
				<button class="btn btn-success dropdown-toggle" id="sentence">SELECT</button>
				<div class="dropdown-content">
                    <!-- <a href="#" onclick = "secondLevel('suggest') disabled">suggest</a> -->
					<a href="#" onclick = "secondLevel('predict')">predict</a>
					<a href="#" onclick = "secondLevel('compare')">train</a>
				</div>
			</div>
			<!-- END -->

			<!-- SUBSEQUENT CODE FOR SUGGEST OPTION -->
			<div id="suggestResult" style="display:none;">
				<p style="position: relative; top: 5px;"> the best stock.</p>
			</div>
			<!-- END -->

			<!-- SUBSEQUENT CODE FOR PREDICT OPTION -->
			<div id="predictResult" style="display: none;">
				<input type="text" id="stockInput" style="display:inline-block;" placeholder="Stock name">
				<p style="display:inline-block; position: relative; top: 5px; padding: 5px;">   for   </p>
				<input type="text" id="timeInput" style="display:inline-block;" placeholder="Amount of Time">
				<p style="display:inline-block; position: relative; top: 5px; padding: 5px;">   days   </p>
				<input type="submit" id="submitPredict" class="btn btn-success" onclick="showData('predictSubmit')" style="display:inline-block;">
			</div>
			<!-- END -->

			<!-- SUBSEQUENT CODE FOR COMPARE OPTION -->
			<div id="compareResult" style="display: none;">
				<p style="display:inline-block; position: relative; top: 5px; padding: 5px;"> a model on my own stock data.</p>
			</div>
			<div id="formTrain" style="display:none;">
				<br><br><br>
				 <label for="formFile" class="form-label">Upload .csv file</label>
  				<input class="form-control" type="file" id="formFile"><br>
				<input type="submit" id="submitCompare" class = "btn btn-success" onclick="showData('compareSubmit')" style="display:inline-block;">
			</div>
			<!-- END -->
		</div>
	</center>
	<!-- END -->

	<!-- CODE FOR SECOND OPTION -->
	<center>
		<div id="optionTwo" style="display:none">
			<div class="mb-3">
  				<label for="formFile" class="form-label">Upload .csv file</label>
  				<input class="form-control" type="file" id="formFile"><br>
  				<input type="submit" id="select" class = "btn btn-success" style="display:inline-block;">
			</div>
		</div>
	</center>
	<!-- END -->

	<!-- STOCK INFORMATION SHOULD BE IN THESE HTML TAGS -->
	<div id="suggestData" style="display:none">
		<h3>INSERT SUGGEST DATA</h3>
	</div>

	<div id="predictData" style="display:none">
		<h3>{{ name }}</h3>
	</div>

	<div id="compareData" style="display:none">
		<h3>INSERT COMPARE DATA</h3>
	</div>
	<!-- END -->

</body>

</html>
